DirectoryIndex index.php index.html
RewriteEngine On
RewriteRule ^health$ health.php [L]
RewriteRule ^status$ health.php [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
